@font-face {
    font-family: "minecraft";
    src: url("minecraft_font.ttf");
}
*{
    font-family: minecraft;
}
body{
    background-color: rgba(0, 0, 0, 0.877);
}

nav{
    display: grid;
    width: 100%;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
p{

    text-align: center;
}
